<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" IgnorableNamespaces="uap mp uap3">
  <Identity Name="54655ArnoldVink.TimeMeTile" Publisher="CN=E50820D8-A817-4517-9CD7-9B57976E3736" Version="3.14.0.0" />
  <mp:PhoneIdentity PhoneProductId="6faf5038-d129-4f5c-a3c2-8d8582a33e2f" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>TimeMe Tile</DisplayName>
    <PublisherDisplayName>Arnold Vink</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TimeMe.App">
      <uap:VisualElements DisplayName="ms-resource:App_DisplayName" Square150x150Logo="Assets\SquareLogo150150.png" Square44x44Logo="Assets\SquareLogo4444.png" Description="ms-resource:App_Description" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\WideLogo310150.png">
        </uap:DefaultTile>
        <uap:LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\BadgeLogo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#E1E1E1" />
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="TimeMeTaskAgent.ScheduledAgent">
          <BackgroundTasks>
            <Task Type="general" />
            <Task Type="systemEvent" />
            <Task Type="timer" />
            <Task Type="pushNotification" />
            <Task Type="location" />
            <Task Type="deviceUse" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="appointments" />
    <uap:Capability Name="userAccountInformation" />
    <uap3:Capability Name="backgroundMediaPlayback" />
    <uap:Capability Name="phoneCall" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="proximity" />
  </Capabilities>
</Package>